---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: immich
  namespace: flux-system
spec:
  interval: 6h
  url: https://immich-app.github.io/immich-charts
  timeout: 5m
